body>div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 400px 200px;
    }

body>div>div:first-child {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 2px solid black;
    justify-content: space-around;
    background-color: blanchedalmond;
    }

body>div>div:nth-child(2) {
    border: 2px solid black;
     /* display: grid; */
    grid-column-start: 1;
    grid-column-end: 5;
}

body>div>div:nth-child(3) {
    border: 2px solid black;
     /* width: 25%; */
}

body>div>div:nth-child(4) {
    border: 2px solid black;
}

body>div>div:nth-child(5) {
    border: 2px solid black;
}

body>div>div:nth-child(6) {
    border: 2px solid black;
     /* height: 150px; */
}

.btn {
    /* display: grid;
            justify-content: right; */
    text-align: right;
    padding: 5px;
}

.button {
    background-color: coral;
    align-self: self-end;
    padding: 5px;
}

.icons {
    display: flex;
    justify-content: center;
}