*{
    margin: 0;
    padding: 0;
    border: none;
    text-transform: capitalize;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #212531;
}
header{
    font-size: 30px;
    height: fit-content;
    width: 100%;
    background-color: azure;
}
.right-nav{
    text-align: right;
    
}
.left-logo{
    text-align: left;
}
.img1{
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 2px;
}
.img2{
    width: 100%;
}